header{
   background-color: #202020;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 70px;
   padding: 0px;
   margin: 0px;
   border-bottom: grey 1px solid;
   margin-bottom: 50px;
}

body{
   background-color: #181818;
   color: whitesmoke;
   border: 0px;
}

#general{
   display: flex;
   flex-direction: row;
   padding: 0px;
   margin: 0px;
   justify-content: space-between;
}

aside{
   position: fixed;
   width: 80px;
   height: 800px;
   background-color: grey;
   border: 0px transparent solid;
   border-radius: 10px;
}

main{
   margin-left: 100px;
   display: flex;
   flex-direction: column;
   background-color: #181818;
   justify-content: space-around;
   height: 100%;
}

.title{
   margin: 10px;
   padding: 0px;
}

h4{
   margin: 0px;
}

.stats{
   margin: 0px;
   padding: 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.lines{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.misc{
   padding: 0px;
}

.thumbnails{
   width: 400px;
   height: 225px;
   background-color: blue;
   border: transparent 0px solid;
   border-radius: 10px;
}

nav button{
   width: 60px;
   height: 60px;
   background-color: grey;
   border: 0px transparent solid;
   border-radius: 100px;
}

.item{
   margin-bottom: 50px;
   margin: 20px;
   padding: 0px;
}

header div{
   position: absolute;
   width: 30%;
   height: 60px;
   background-color: grey;
   border: 0px transparent solid;
   border-radius: 100px;
   display: flex;
   flex-direction: rows;
   justify-content: space-around;
}

header div input{
   border: 0px solid transparent;
   background-color: transparent;
}

header div input:focus{
   border: 0px transparent solid;
}