header{
   background-color: #202020;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 70px;
   padding: 0px;
   margin: 0px;
}

body{
   background-color: #181818;
   color: whitesmoke;
   height: 100vh;
   border: 0px;
}

main{
   display: flex;
   flex-direction: column;
   background-color: #181818;
   justify-content: space-around;
   height: 100%;
}

.lines{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.thumbnails{
   width: 400px;
   height: 225px;
   background-color: blue;
   border: transparent 0px solid;
   border-radius: 10px;
}

nav button{
   width: 60px;
   height: 60px;
   background-color: blueviolet;
}

header div{
   position: absolute;
   width: 30%px;
   height: 80px;
   background-color: chocolate;
   border: 0px transparent solid;
   border-radius: 100px;
   display: flex;
   flex-direction: rows;
   justify-content: space-around;
}

header div input{
   border: 0px solid transparent;
   background-color: transparent;
}

header div input :focus{
   border: 0px transparent solid;
}