html{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #181818;
    color: whitesmoke;
    margin: 0px;
 }

header{
   background-color: #202020;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 50px;
   padding: 0px;
   margin: 0px;
}

header > *{
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* HEADER LEFT */

#header_left{
    width: 10%;
}

#burger{
    background-color: blueviolet;
    width: 50px;
    border: 0px transparent solid;
}

/* HEADER CENTER */

#header_center{
    height: 50px;
    width: 33%;
    height: 75%;
    margin: auto;
}

#header_center input{
    width: 70%;

}

/* HEADER RIGHT */

#header_right{
    width: 15%;
}

nav button{
    width: 40px;
    height: 40px;
    background-color: grey;
    border: 0px transparent solid;
    border-radius: 100px;
 }

#general{
   display: flex;
   flex-direction: row;
   padding: 0px;
   margin: 0px;
   justify-content: space-between;
}

aside{
   position: fixed;
   width: 80px;
   height: 100%;
   background-color: grey;
   border: 0px transparent solid;
   border-radius: 10px;
}

main{
   margin-left: 100px;
   display: flex;
   flex-direction: column;
   background-color: #181818;
   justify-content: space-around;
   height: 100%;
}

.title{
   margin: 10px;
   padding: 0px;
}

h4{
   margin: 0px;
}

.stats{
   margin: 0px;
   padding: 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.lines{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.misc{
   padding: 0px;
}

.thumbnails{
   width: 400px;
   height: 225px;
   background-image: url('http://i3.ytimg.com/vi/2_Si-iD8ZRQ/maxresdefault.jpg');
   background-size: cover;
   border: transparent 0px solid;
   border-radius: 10px;
}


.item{
   margin-bottom: 50px;
   margin: 20px;
   padding: 0px;
}